.blogs {
  font-family: var(--font-poppins), sans-serif;
}

.blogs .card_div {
  display: grid;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px) {
  .blogs .card_div {
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .blogs .card_div {
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .blogs .card_div {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}