.about_us {
  font-family: var(--font-poppins), sans-serif;
  padding: 20px 0px;
  background-color: #E5E4E4;
}

.about_us h3{
  color: #B50000;
  font-size: 32px;
  font-weight: bold;
}

.about_us h4{
  font-size: 26px;
   font-weight: bold;
}

.about_us p{
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
}

.about_us span{
  font-size: 16px;
}

