.filter_bar {
  background-color: white;
  font-family: var(--font-poppins), sans-serif;
  width: 100%;
  height: fit-content;
  /* overflow-y: scroll; */
  position: relative;
}
.filter_bar .filter_small {
  display: none;
}
p#filter_heading {
  border-left: 5px solid var(--red-color);
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--filter-heading_color);
  border-bottom: 1px solid var(--bg-gray);
}
.filter_bar .box {
  border-bottom: 2px solid var(--bg-gray);
}
.filter_bar .box h3 {
  color: var(--filter-heading_color);
  font-size: 23px;
  font-weight: bold;
}
.filter_bar .box input {
  height: 18px;
  width: 18px;
  border-radius: 3px;
  border: 1px solid var(--filter-heading_color);
}

input[type=checkbox]{
  display: block !important;
}

.filter_bar .box .form_div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.filter_bar .box label {
  font-size: 18px;
  color: var(--filter-heading_color);
}
/* .filter_bar .box.city label {
  font-size: 23px;
  font-weight: bold;
} */


@media screen and (max-width: 768px) {
  .filter_bar {
    width: 100%;
    background-color: transparent;
    margin-bottom: 10px;
  }

  .filter_bar .filter_small {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .filter_bar .filter_greater {
    display: none;
  }

  .filter_bar .boxes_parent_div {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .boxes_parent_div.active {
    display: flex;
  }

  .close_filter_btn {
    display: block;
    background: transparent;
    font-size: 24px;
    border: none;
    align-self: flex-end;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .filter_bar .box h3 {
    font-size: 17px;
  }

  .filter_bar .box input {
    width: 15px;
    height: 15px;
  }

  .filter_bar .box label {
    font-size: 15px;
  }

  .filter_bar .box.city label {
    font-size: 17px;
  }
  .close_btn{
  display: block !important;
  text-align: -webkit-right;
}
}

.close_btn{
  display: none;
}

.see-more-btn{
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
}