.work {
  font-family: var(--font-poppins), sans-serif;
}

/* .work p.section_heading {
  color: var(--red-color);
} */

span.red_title {
  color: var(--red-color);
  font-size: 32px !important;
  font-weight: bold !important;
}

.work .heading {
  font-size: 20px;
  font-weight: 500;
}

.work .img_col img {
  /* max-width: 533px;
  max-height: 443px; */
  width: 100%;
  height: auto;
  overflow: none;
}

.work .col_1 {
  flex: 1 !important;
}

  .work .col_1 p {
    font-size: 16px;
    font-weight: 500;
    color: #212529;
  }

@media screen and (max-width: 991px) {
  .work p.section_heading {
    font-size: 27px;
  }

  .work .heading {
    font-size: 19px;
  }


}

@media screen and (max-width: 576px) {
  .work .col_1 p {
    font-size: 15px;
    font-weight: 500;
  }

  .work p.section_heading {
    font-size: 23px;
    margin-bottom: 10px !important;
  }

  .work .heading {
    font-size: 17px;
  }
}