.compnies-details {
  background-color: #e5e4e4;
  width: 100%;
  font-family: var(--font-poppins), sans-serif;
}

.compnies-details .ad_bar {
  background-color: #c7c7c7;
  text-align: center;
}

.compnies-details .left {
  background-color: white;
}

.compnies-details .advertiment {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.compnies-details .flex_div {
  display: flex;
  justify-content: space-between;
}

.compnies-details .red_bar {
  width: 100%;
  height: 71px;
  background-color: var(--red-color);
}

/* .compnies-details .left_div {
  flex: 1;
} */

/* .compnies-details .right {
  flex: 1;
} */

.compnies-details .icon {
  color: var(--red-color);
  width: 27px;
  height: 25px;
  cursor: pointer;
}

.compnies-details .share {
  color: black;
}

.compnies-details .heart_button {
  justify-content: start;
  gap: 14px;
  display: flex;
  align-items: center;
  margin-top: 11px;
}

.compnies-details .mic_icon {
  font-size: 26px;
  height: 65px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  display: "flex";
  justify-content: center;
  align-items: center;
}

.compnies-details .info h4 {
  font-size: 20px;
  font-weight: bold;
}

.compnies-details .info .sub_head {
  font-size: 19px;
  font-weight: 500;
}

.compnies-details .info h4 span {
  color: var(--red-color);
  font-weight: 400;
}

.compnies-details .info textarea {
  height: 100px;
  max-width: 422px;
  margin-top: 20px;
  outline: none;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.399);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.compnies-details .info textarea:focus {
  outline: none;
}

.compnies-details .img_div {
  width: 100%;
  height: 350px;
}

.compnies-details .img_div img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.compnies-details .flex_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compnies-details .phone_num {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--red-color);
  color: white;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.compnies-details .phone_icon {
  font-size: 27px;
}

.compnies-details p.number {
  font-size: 19px;
  font-weight: 500;
}

.compnies-details .show_num {
  font-size: 10px;
  font-weight: 500;
}

.compnies-details .flex_parent .col_1 h4 {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.compnies-details .star {
  color: var(--stars-color);
}

.compnies-details p#respons {
  font-size: 12px;
  color: var(--filter-heading_color);
}

.compnies-details .comments_div {
  background-color: white;
}

.compnies-details .all_comments {
  gap: 10px;
  color: #047857;
  font-size: 14px;
  font-weight: 600;
}

.arrow_icon {
  color: #191d23;
  font-size: 27px;
  padding: 2px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}

.heading_sec {
  display: flex;
  gap: 10px;
  align-items: center;
}

h3.heading {
  font-size: 20px;
  font-weight: bold;
  color: #191d23;
  margin-bottom: 0 !important;
}

.compnies-details .input_div {
  display: flex;
  height: 40px;
  gap: 20px;
}

.compnies-details .input_div input {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  outline: none;
}

.compnies-details .input_div button {
  outline: none;
  border: none;
  background-color: #047857;
  border-radius: 6px;
  width: 40px;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .compnies-details .hide_bar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .compnies-details .name_heading {
    font-size: 32px;
  }

  /* .compnies-details .mic_icon {
    height: 37px;
    width: 37px;
    font-size: 28px;
  } */

  .compnies-details .info h4 {
    font-size: 18px;
  }

  .compnies-details .img_div {
    width: 100%;
  }

  .compnies-details .img_div img {
    width: 100%;
  }

  .compnies-details p.number {
    font-size: 17px;
  }

  .compnies-details .flex_parent {
    position: relative;
    padding-bottom: 10px;
  }

  .compnies-details .col_absoulte {
    position: absolute;
    bottom: -16px;
  }

  .compnies-details .col_absoulte h4 {
    font-size: 15px !important;
  }

  .compnies-details .flex_div {
    display: flex;
    flex-direction: column-reverse;
  }

  .compnies-details .info textarea {
    max-width: 100%;
  }

  .compnies-details .phone_icon {
    font-size: 20px;
  }

  .compnies-details .phone_num {
    font-size: 7px;
  }

  .compnies-details .flex_parent .col_1 h4 {
    font-size: 17px;
  }

  .compnies-details p#respons {
    font-size: 11px;
  }
}

@media screen and (max-width: 576px) {
  .compnies-details .flex_div {
    margin-top: 14px;
  }

  .compnies-details .name_heading {
    font-size: 27px;
  }

  /* .compnies-details .mic_icon {
    width: 35px;
    height: 35px;
  } */

  .compnies-details .info h4 {
    font-size: 16px;
  }

  .compnies-details .phone_icon {
    font-size: 17px;
  }

  .compnies-details p.number {
    font-size: 15px;
  }

  .compnies-details .col_absoulte h4 {
    font-size: 13px !important;
  }

  .compnies-details .phone_num {
    font-size: 7px;
  }

  .compnies-details .flex_parent {
    flex-wrap: wrap;
  }

  .compnies-details .img_div {
    width: 100%;
  }
  .custom-audio-player{
    width: 100% !important;
    max-width: 100% !important;
  }
}




/* Skeleton loader styles */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: loading 3s ease-in-out infinite;
  border-radius: 8px;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.skeleton-text {
  height: 18px;
  margin-bottom: 10px;
  width: 100%;
}

.skeleton-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}



/* audio */

.wave-animation {
  display: flex;
  gap: 2px;
}

.wave-animation span {
  display: block;
  width: 3px;
  height: 10px;
  background: #25d366;
  animation: wave 1s infinite;
  animation-delay: calc(0.2s * var(--i));
}

.wave-animation-light {
  display: flex;
  gap: 2px;
}

.wave-animation-light span {
  display: block;
  width: 2px;
  height: 10px;
  background: lightgray;
  animation-delay: calc(0.2s * var(--i));
}


.wave-animation span:nth-child(1) {
  --i: 1;
}

.wave-animation span:nth-child(2) {
  --i: 2;
}

.wave-animation span:nth-child(3) {
  --i: 3;
}

.wave-animation span:nth-child(4) {
  --i: 4;
}

.wave-animation span:nth-child(5) {
  --i: 5;
}

.wave-animation span:nth-child(6) {
  --i: 6;
}

.wave-animation span:nth-child(7) {
  --i: 7;
}

.wave-animation span:nth-child(8) {
  --i: 8;
}

.wave-animation span:nth-child(9) {
  --i: 9;
}

.wave-animation span:nth-child(12) {
  --i: 12;
}

.wave-animation span:nth-child(14) {
  --i: 14;
}

.wave-animation span:nth-child(16) {
  --i: 16;
}

@keyframes wave {

  0%,
  100% {
    height: 8px;
  }

  50% {
    height: 16px;
  }
}