.our_mission {
  font-family: var(--font-poppins), sans-serif;
  padding: 20px 0px;
  background-color: #E5E4E4;
}

.our_mission h3{
  color: #B50000;
  font-size: 32px;
  font-weight: bold;
}

.our_mission h4{
  font-size: 26px;
   font-weight: bold;
}

.our_mission p{
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0px;
}

.our_mission span{
  font-size: 16px;
}

.our_mission li{
  font-size: 20px;
  font-weight: 500;
}

