.market_business {
  font-family: var(--font-poppins), sans-serif;
  padding: 20px 0px;
  background-color: #fff;
  padding-bottom: 50px;
}

.market_business h3{
  font-size: 30px;
  font-weight: 500;
}


.market_business h2>span{
  font-size: 30px;
  font-weight: bold;
  color: #B43336;
}

.market_business h4{
  font-size: 20px;
   font-weight: 500;
}

.market_business .border_color{
  border-left: 5px solid #B43336;
}

.market_business p{
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
}

.market_business span{
  font-size: 16px;
}

.market_business li{
  font-size: 16px;
  font-weight: 500;
}

