.button_comp {
  font-family: var(--font-poppins), sans-serif;
  z-index: 999;
}

.button_comp .btn_div {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}

/* html[lang="ur"] .button_comp .btn_div{
  text-align: center !important;
  direction: rtl;
} */

.button_comp .individual {
  /* background-color: var(--red-color); */
  color: #424242;
  text-align: center;
  flex: 1;
  cursor: pointer;
  background-color: #d4d2d2;
}
.button_comp .companies {
  flex: 1;
  background-color: #d4d2d2;
  text-align: center;
  color: #424242;
  cursor: pointer;
}
html[lang="ur"] .button_comp .individual,
html[lang="ur"] .button_comp .companies {
  text-align: center;
  direction: rtl;
  display: flex;
  justify-content: center;
}
.button_comp .active {
  background-color: var(--red-color) !important;
  color: white;
}

@media screen and (max-width: 768px) {
  .button_comp .individual h3 {
    font-size: 21px;
  }
  .button_comp .companies h3 {
    font-size: 21px;
  }
}

@media screen and (max-width: 576px) {
  .button_comp .individual h3 {
    font-size: 19px !important;
  }
  .button_comp .companies h3 {
    font-size: 19px !important;
  }
}

@media screen and (max-width: 376px) {
  .button_comp .individual h3 {
    font-size: 15px;
  }
  .button_comp .companies h3 {
    font-size: 15px;
  }
}


.not_found_design{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


/* skelton */
.skeleton_card {
  /* width: 280px; */
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fff;
}

.page-btn {
  border: none;
  padding: 8px 14px;
  background-color: #eee;
  color: #333;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}

.page-btn.active {
  background-color: var(--red-color);
  color: white;
}

