.all_center_page {
  font-family: var(--font-poppins), sans-serif;
  background-color: #e9e9e9;
  width: 100%;
  padding: 0px;
  height: fit-content;
  position: relative;
}

.all_center_page .relative_div {
  position: relative;
}

.bg_filter {
  background-color: white;
  height: fit-content;
}

input[type=checkbox]{
  display: block !important;
}

.all_ecenter_flex {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  /* gap: 20px; */
}

.all_center_page .filters_div h2 {
  border-left: 5px solid var(--red-color);
  text-transform: uppercase;
  color: var(--filter-heading_color);
  border-bottom: 1px solid var(--bg-gray);
  font-size: 28px;
  font-weight: bold;
  padding: 5px 8px;
}

.all_center_page .filters_div h3 {
  color: var(--filter-heading_color);
  font-size: 23px;
  font-weight: bold;
}

.all_center_page .box h3 {
  color: var(--filter-heading_color);
  font-size: 23px;
  font-weight: bold;
}

.all_center_page .box {
  border-bottom: 1px solid var(--bg-gray);
}

.all_center_page .box .form_div {
  display: flex;
  /* gap: 10px; */
}

.all_center_page .box input {
  border: 1px solid var(--filter-heading_color);
  border-radius: 3px;
  width: 18px;
  height: 18px; 
  cursor: pointer;
}

.all_center_page .form_div input.start_date {
  width: 150px !important;
  height: 32px !important;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
  color: var(--filter-heading_color);
}

.all_center_page .form_div input.end_date {
  width: 150px !important;
  height: 32px !important;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
  color: var(--filter-heading_color);
  margin-bottom: 10px;
}

.all_center_page .box label {
  color: var(--filter-heading_color);
  font-size: 18px;
}

.all_center_page .date_div label {
  width: 50px;
  margin-top: 10px;
}

.all_center_page .menu_icon {
  display: none;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 12px;
}

.all_center_page .pagination_div {
  display: flex;
  align-items: center;
  gap: 12px;
  /* color: blue; */
  font-size: 18px;
  justify-content: end;
}

.all_center_page .pagination_div p {
  cursor: pointer;
}

  .close_sidebar_btn {
    display: none;
  }

@media screen and (max-width: 768px) {
  .small_div {
    background-color: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    position: fixed;
    top: 0;
    left: -400px;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    z-index: 999;
    transition: 0.5s ease-in-out;
  }

  .close_sidebar_btn {
    font-size: 24px;
    background: transparent;
    border: none;
    align-self: flex-end;
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
    cursor: pointer;
    color: #000;
  }

  .all_center_page .hide_small {
    position: absolute;
    left: -400px;
  }

  .active {
    left: 0;
    transition: 0.9s all;
  }

  .all_center_page .menu_icon {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 20px;
    height: 45px;
    width: 45px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    z-index: 9999;
  }

  .all_center_page .form_div input.start_date {
  width: 100% !important;
}

.all_center_page .form_div input.end_date {
  width: 100% !important;
}

}




/* skelton */
.skeleton_card {
  width: 280px;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  animation: pulse 1.5s infinite;
}

.skeleton_img {
  width: 100%;
  height: 120px;
  background: #e0e0e0;
  border-radius: 6px;
  margin-bottom: 10px;
}

.skeleton_line {
  height: 10px;
  background: white;
  border-radius: 4px;
  margin-bottom: 8px;
}

.skeleton_line.short {
  width: 60%;
}

@keyframes pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}
