.profile_section {
  font-family: var(--font-poppins), sans-serif;
  background-color: #e5e4e4;
}

html[lang="ur"] .direction_ltr {
  text-align: left;
  direction: rtl;
}

html[lang="ur"] .recording .custom-audio-player {
  /* text-align: left; */
  padding: 0px !important;
  padding-right: 15px !important;
  direction: rtl;
}


/* 
html[lang="ur"] .direction_ltr .recording .custom-audio-player {
  padding: 0px !important;
  padding-right: 15px !important;
  direction: rtl;
} */

.profile_section hr{
  /* opacity: 0.10 !important; */
  margin: 3px 0 10px 0px !important;
  color: lightgray;
  width: inherit;
}

.red_bar {
  width: 100%;
  height: 71px;
  background-color: var(--red-color);
}

.profile_section .left {
  background-color: white;
}

.profile_section .heart_button {
  justify-content: start;
  gap: 14px;
  display: flex;
  align-items: center;
  margin-top: 11px;
  margin-bottom: 12px;
}

.profile_section .icon {
  color: var(--red-color);
  width: 27px;
  height: 25px;
  cursor: pointer;
}

.profile_section .share {
  color: black;
}

.profile_section .flex_div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.profile_section .mic_icon {
  /* font-size: 46px; */
  height: 65px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .profile_section .info {
  width: 400px;
} */

.profile_section .info textarea {
  height: 70px;
  /* max-width: 422px; */
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.399);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.profile_section .img_div {
  width: 100%;
  height: 430px;
}


.profile_section .img_div img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.profile_section .info h4 {
  font-size: 20px;
  font-weight: bold;
}

.profile_section .info .sub_head {
  font-size: 19px;
  font-weight: 500;
  color: #191d23 !important;
}

.profile_section .info h4 span {
  color: var(--red-color);
  font-weight: 400;
}

.profile_section .flex_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_section .flex_parent .col_1 h4 {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.profile_section .phone_num {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--red-color);
  color: white;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.profile_section p.number {
  font-size: 19px;
  font-weight: 500;
}

.profile_section .show_num {
  font-size: 10px;
  font-weight: 500;
}

.profile_section .phone_icon {
  font-size: 27px;
}

.profile_section .star {
  color: var(--stars-color);
}

.profile_section p#respons {
  font-size: 12px;
  color: var(--filter-heading_color);
}

.profile_section .cnic {
  color: #30ef00 !important;
  font-size: 20px;
}

.profile_section .comments_div {
  background-color: white;
}

.profile_section .heading_sec {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile_section h3.heading {
  font-size: 20px;
  font-weight: bold;
  color: #191d23;
  margin-bottom: 0 !important;
}

.profile_section .arrow_icon {
  color: #191d23;
  font-size: 27px;
  padding: 2px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}

.profile_section .all_comments {
  gap: 10px;
  color: #047857;
  font-size: 14px;
  font-weight: 600;
}

.profile_section .input_div {
  display: flex;
  height: 40px;
  gap: 20px;
}

.profile_section .input_div input {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  outline: none;
}

.profile_section .input_div button {
  outline: none;
  border: none;
  background-color: #047857;
  border-radius: 6px;
  width: 40px;
  height: 100%;
}

.left_div {
  align-items: start !important;
}

@media screen and (max-width: 992px) {
  .profile_section .hide_bar {
    display: none;
  }

  .left_div {
    align-items: start;
  }
}

@media screen and (max-width: 768px) {
  .profile_section .name_heading {
    font-size: 32px;
  }

  /* .profile_section .mic_icon {
    height: 37px;
    width: 37px;
    font-size: 28px;
  } */

  .profile_section .info h4 {
    font-size: 18px;
  }

  .profile_section .img_div {
    text-align: right;
    /* height: 350px; */
  }


  .profile_section .right .img_div img {
    width: 100%;
  }

  .profile_section p.number {
    font-size: 17px;
  }

  .profile_section .flex_parent {
    position: relative;
    padding-bottom: 10px;
  }

  .profile_section .col_absoulte {
    position: absolute;
    bottom: -16px;
  }

  .profile_section .col_absoulte h4 {
    font-size: 15px !important;
  }

  .profile_section .flex_div {
    display: flex;
    flex-direction: column-reverse;
  }

  .profile_section .info textarea {
    max-width: 100%;
  }

  .profile_section .phone_icon {
    font-size: 20px;
  }

  .profile_section .phone_num {
    font-size: 7px;
  }

  .profile_section .flex_parent .col_1 h4 {
    font-size: 17px;
  }

  .profile_section p#respons {
    font-size: 11px;
  }
}

@media screen and (max-width: 576px) {
  .profile_section .flex_div {
    margin-top: 14px;
  }

  .profile_section .name_heading {
    font-size: 27px;
  }

  /* .profile_section .mic_icon {
    width: 35px;
    height: 35px;
  } */

  .profile_section .info h4 {
    font-size: 16px;
  }

  .profile_section .phone_icon {
    font-size: 17px;
  }

  .profile_section p.number {
    font-size: 15px;
  }

  .profile_section .col_absoulte h4 {
    font-size: 13px !important;
  }

  .profile_section .phone_num {
    font-size: 7px;
  }

  .profile_section .flex_parent {
    flex-wrap: wrap;
  }

  .profile_section .right {
    width: 100%;
  }

  .profile_section .img_div {
    width: 100%;
    height: 300px;
  }
  .custom-audio-player{
    width: 100% !important;
    max-width: 100% !important;
  }
}



/* Skeleton loader styles */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: loading 3s ease-in-out infinite;
  border-radius: 8px;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.skeleton-text {
  height: 18px;
  margin-bottom: 10px;
  width: 100%;
}

.skeleton-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}


/* audio */
.wave-animation {
  display: flex;
  gap: 2px;
}

.wave-animation span {
  display: block;
  width: 2px;
  height: 10px;
  background: #25d366;
  animation: wave 1s infinite;
  animation-delay: calc(0.2s * var(--i));
}

.wave-animation-light {
  display: flex;
  gap: 2px;
}

.wave-animation-light span {
  display: block;
  width: 2px;
  height: 10px;
  background: lightgray;
  animation-delay: calc(0.2s * var(--i));
}


.wave-animation span:nth-child(1) {
  --i: 1;
}

.wave-animation span:nth-child(2) {
  --i: 2;
}

.wave-animation span:nth-child(3) {
  --i: 3;
}

.wave-animation span:nth-child(4) {
  --i: 4;
}

.wave-animation span:nth-child(5) {
  --i: 5;
}

.wave-animation span:nth-child(6) {
  --i: 6;
}

.wave-animation span:nth-child(7) {
  --i: 7;
}

.wave-animation span:nth-child(8) {
  --i: 8;
}

.wave-animation span:nth-child(9) {
  --i: 9;
}

.wave-animation span:nth-child(12) {
  --i: 12;
}

.wave-animation span:nth-child(14) {
  --i: 14;
}

.wave-animation span:nth-child(16) {
  --i: 16;
}

@keyframes wave {

  0%,
  100% {
    height: 8px;
  }

  50% {
    height: 16px;
  }
}

.modal-overlay {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}